package genconfig

configuration conf {

	include embox.arch.x86.kernel.arch
	include embox.arch.x86.kernel.locore
	include embox.arch.x86.kernel.context
	include embox.arch.x86.kernel.interrupt

	include embox.arch.x86.libarch
	/*include embox.arch.xen.libarch*/
	/*include embox.arch.generic.arch*/
	/*include embox.driver.interrupt.no_interrupts*/
	include embox.driver.interrupt.i8259
	include embox.kernel.irq
	include embox.kernel.critical
	include embox.arch.generic.nosmp
	include embox.kernel.spinlock(spin_debug=false)
	include embox.driver.clock.pit
	/*include embox.mem.NoPage*/

	@Runlevel(2) include embox.driver.diag(impl="embox__driver__serial__i8250")
	@Runlevel(2) include embox.driver.serial.i8250(baud_rate=38400)


	@Runlevel(2) include embox.util.LibUtil
	@Runlevel(2) include embox.framework.LibFramework
	@Runlevel(2) include embox.compat.libc.stdio.print(support_floating=0)
}
